html {
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
}

.page_container {
	display: flex;
	flex-direction: column;

}

.header_section {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.header_section .hamburger_menu .hamburger_icon {
	padding: 10px 10px 10px 15px;
	cursor: pointer;
}

.header_section .youtube_logo .youtube_logo_icon {
	padding: 3px 4px 4px 8px;
	margin-right: 60px;
	cursor: pointer;
}


.header_section .search_bar_and_icons_section {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid silver;
	width: 100%;'
	position: relative;
}



.header_section .search_bar_and_icons_section .search_bar {
	padding: 0px 13% 0px 9%;
	display: flex;
	flex-direction: row;
	width: 58%;
}


.header_section .search_bar_and_icons_section .search_bar .search_input {
	height: 28px;
	border: 1px solid #aaaa;
	border-radius: 2px;
	margin: 5px 0 0 0;
	width: 100%;

}

.header_section .search_bar_and_icons_section .search_bar input.search_input:focus {
	border-color: blue;
	opacity: 1;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.header_section .search_bar_and_icons_section .search_bar .search_button {
	margin: 5px 0px 15px -1px;
	height: 26px;
	width: 0px;
	padding: 2px 30px 2px 30px;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #E6E6FA;
	border: 1px solid #aaaa;
	border-radius: 2px;
	opacity: 0.75;
	cursor: pointer;
}

.hover_text {
	position: absolute;
	background-color: black;
	color: white;
	opacity: 0.55;
	padding: 8px;
	border-radius: 3px;
	top: 65px;
	visibility: hidden;
}

.header_section .search_bar_and_icons_section .search_bar div.search_button:hover .hover_text {
	visibility: visible;
}



.header_section .search_bar_and_icons_section .search_bar div.search_button:hover {
	opacity: 1;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
}

.header_section .search_bar_and_icons_section .search_bar .search_button .lens {
	padding: 7px 5px 5px 5px;
	height: 15px;
	width: 15px;
}

.header_section .user_icons {
	display: flex;
	flex-direction: row;
	right: 0;
}

.header_section .user_icons .user_function_icons {
	display: flex;
	flex-direction: row;
}

.header_section .user_icons .user_function_icons div.header_hover:hover .hover_text {
	visibility: visible;
}

.fa-search {
	justify-content: center;
	padding: 12px 10px 10px 10px;
	font-size: 16px;
	color: #6e6d6d;
	visibility: hidden;
}

#hover_search {
	visibility: hidden;
}


.user_img1 {
	width: 25px;
	height: 18px;
	padding: 10px 12px 10px 12px;
	cursor: pointer;
}

.user_img2 {
	width: 24px;
	height: 27px;
	padding: 7px 12px 10px 12px;
	cursor: pointer;
}

.user_img3 {
	width: 23px;
	height: 26px;
	padding: 7px 12px 10px 12px;
	cursor: pointer;
}

.header_section .user_icons .user_icon {
	padding-left: 10px;
	cursor: pointer;
}

@media (max-width: 650px){
	.search_bar {
		visibility: hidden;
		padding: 0;
		width: 0%;
	}
	.fa-search {
		visibility: visible;
	}
	.header_section .user_icons .user_function_icons div.header_hover:hover #hover_search {
		visibility: visible;
	}
}






.body_section {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.side_menu {
	height: 100%;
	width: 285px;
}




.side_menu2 {
	width: 0;
	background-color: white;
}

.toggle_hamburger_menu {
	width: auto;
}

.toggle_hamburger_menu2 {
	width: 0;
}



.side_menu2_nav {
	padding: 10px 0 10px 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	cursor: pointer;
}

.side_list_nav_img {
	padding: 5px 0 5px 0px;
}


#Library2 {
	height: 24px;
}

.body_section .side_menu2 div.side_menu2_nav:hover {
	background-color: silver;
}




.body_section .side_menu div.side_option:hover {
	background-color: silver;
}

.body_section .side_menu .side_menu_list {
	display: flex;
	flex-direction: column;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid silver;
}

.body_section .side_menu .side_menu_list .side_option {
	display: flex;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
}

.side_list_img {
	padding: 0 21px 0 4px;
}

.side_list_img2 {
	padding: 0 21px 0 6px;
}

.side_list_title {
	padding-top: 3px;
}

#trending {
	padding: 0 24px 0 7px;
}

#subscriptions {
	padding: 0 21px 0 5px;
}

#Library {
	height: 24px;
	padding: 0 22px 0 6px;
}

#side_title {
	padding-left: 15px;
	color: #6e6d6d;
	font-weight: bold;
}

#YouTube_Premium {
	padding: 0 19px 0 4px;
}

#Movies {
	height: 25px;
	padding: 0 23px 0 7px;
}

#Gaming {
	padding: 0 20px 0 4px;
	width: 25px;
}

#Live {
	padding: 0 19px 0 2px;
}

.body_section .body_contents {
	display: flex;
	flex-direction: column;
	padding: 0 0px 0 20px;
	width: 100%;
	background-color: #f6f6f6;
}

.video_lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

}

.video_container {
	position: relative;
	margin: 0 8px 40px 8px;
	cursor: pointer;
}

div.video_container:hover .hover_icon {
	visibility: visible;
}

.video_category {
	font-size: 20px;
	padding: 20px 0 20px 0;
}

.thumbnail {
	height: 145px;
	width: 252px;
}

.video_details_container {
	display: flex;
	flex-direction: row;
	font-size: 14px;
}

.video_details {
	padding: 7px 0 0 9px;
	display: flex;
	flex-direction: column;
}

.video_title {
	font-weight: bold;
	padding: 0 0 5px 0;
}

.gray_text {
	color: #6e6d6d;
}

.hover_icons {
	display: flex;
	flex-direction: row-reverse;
}


.hover_icon {
	visibility: hidden;
}

.hover_icon1 {
	position: absolute;
	top: 2%;
	left: 87%;

}

.hover_icon2 {
	position: absolute;
	top: 16%;
	left: 87%;

}

.hover_text2 {
	background-color: black;
	color: white;
	opacity: 0.8;
	padding: 5px;
	border-radius: 3px;
	position: absolute;
	visibility: hidden;

}

div.hover_icons:hover .hover_text2 {
	visibility: visible;
}

.video_time {
	background-color: black;
	color: white;
	opacity: 0.8;
	padding: 8px;
	position: absolute;
	top: 54%;
	left: 81%;
	visibility: visible;
}

.hover_watch_later {
	top: 2.5%;
	left: 51%;

}

.hover_add_to_queue {
	top: 16.25%;
	left: 48%;

}

.hover_dot {
	position: absolute;
	top: 72%;
	opacity: 0.8;
}

