.container {
	display: flex;
	flex-direction: row;
}

.side_menu {
	width: 15em;
}

.content_menu {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.top_menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 10px 0 10px;
	width: 15em;
	height: 3em;
}

.logo_images {
	margin: 0 20px 0 0;
}

.logo_size {
	width: 25px;
}

.menu1 {
	padding: 10px 10px 10px 10px;
	display: flex;
	align-items: center;
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
}


.side_list div.menu1:hover {
	background-color: silver;
}


.texts {
	font-weight: 400;
}

.text_header {
	font-size: 13px;
	font-family: Roboto, Arial, sans-serif;
	margin: 15px 10px 15px 10px;

}

.search_bar {
	width: 500px;
	height: 29px;
	margin: 5px -3px 15px 95px;
	border: 1px solid #aaaa;
	border-radius: 2px;
	padding: 0px 0px 0px 8px;

}

.search_button {
	margin: 5px 210px 15px 0px;
	height: 25px;
	width: 0px;
	padding: 2px 30px 2px 30px;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #E6E6FA;
	border: 1px solid #aaaa;
	border-radius: 2px;
	opacity: 0.75;
}

input.search_bar:focus {
	border-color: blue;
	z-index: 1;
	opacity: 1;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

div.search_button:hover {
	opacity: 1;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
}

.hidden_search_text {
	font-size: 13px;
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
	background-color: black;
	color: white;
	position: absolute;
	top: 70px;
	width: max-content;
	padding: 5px 8px 8px 8px;
	border-radius: 2px;
	z-index: 1;
	visibility: hidden;
	opacity: 0.5;
}

div.search_button:hover .hidden_search_text {
	visibility: visible;
}


.lens {
	padding-top: 5px;
	height: 15px;
	width: 15px;
}


.menu2 {
	margin: 0px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.logo_images2 {
	margin: 0 10px 10px 10px;
}

.hidden_text {
	font-size: 13px;
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
	background-color: black;
	color: white;
	position: absolute;
	top: 70px;
	width: max-content;
	padding: 5px 8px 8px 8px;
	border-radius: 2px;
	z-index: 1;
	visibility: hidden;
	opacity: 0.5;
}

div.menu2:hover .hidden_text {
	visibility: visible;
}



#Account_icon {
	width: 40px;
}



.body_menu {


}



.body_texts {

}

.thumbnail {
	margin: 10px;
	position: relative;
}

.thumbnail_hover_icon1 {
	position: absolute;
	top: 6px;
	left: 220px;
	visibility: hidden;
}

.thumbnail_hover_icon2 {
	position: absolute;
	top: 38px;
	left: 220px;
	visibility: hidden;
}

.thumbnail_hover_icon3 {
	position: absolute;
	left: 235px;
	visibility: hidden;
	opacity: 0.8;
}

div.thumbnail1:hover .thumbnail_hover_icon1 {
	visibility: visible;
}

div.thumbnail1:hover .thumbnail_hover_icon2 {
	visibility: visible;
}

div.thumbnail1:hover .thumbnail_hover_icon3 {
	visibility: visible;
}

div.thumbnail_hover3:hover .thumbnail_hover_icon3 {
	opacity: 5.0;
}

.thumbnail_hover_text1 {
	background-color: black;
	color: white;
	opacity: 0.9;
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 7px 5px 7px;
	position: absolute;
	top: 6px;
	left: 120px;
	visibility: hidden;
}


.thumbnail_hover_text2 {
	background-color: black;
	color: white;
	opacity: 0.9;
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 7px 5px 7px;
	position: absolute;
	top: 38px;
	left: 110px;
	visibility: hidden;
}

div.thumbnail_hover1:hover .thumbnail_hover_text2 {
	visibility: visible;
}



.thumbnail_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}





.thumbnail_details {
	display: flex;
	flex-direction: row;
}

.thumbnail_text {
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
	margin: -6px 0 0 5px;
}

.thumbnail_title {
	font-weight: bold;
}

.thumbnail_bottom_details {
	margin: -5px 0px 0px 0px;
	color: #696969;
}


.thumbnail_details: hover {

}
